In [1]:
#import pandas
import pandas as pd

In [2]:
#import dataset-csv file
df=pd.read_csv('python data cleaning -cricket dataset1.csv')

In [3]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [4]:
#Rename multiple columns in a list
df=df.rename(columns={'Mat':'Matches','NO':'Not Outs','HS':'Highest Inns Score','Ave':'Batting Average','BF':'Balls Faced','SR':'Batting Strike Rate'})

In [5]:
df

,Player,Span,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [6]:
df.head()

,Player,Span,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [7]:
#check null values
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not Outs               False
Runs                   False
Highest Inns Score     False
Batting Average        False
Balls Faced             True
Batting Strike Rate     True
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [8]:
df[df['Balls Faced'].isna()==1]

,Player,Span,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258,2
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107,11
57,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51,0

In [9]:
df['Balls Faced']=df['Balls Faced'].fillna(0)

In [10]:
df['Batting Strike Rate']=df['Batting Strike Rate'].fillna(0)

In [11]:
#display changed made to 'Balls Faced'& 'Batting strike rate' by ED Weekes, CL Walcott, Hon. FS Jackson
df[df['Player']=='ED Weekes (WI)']

,Player,Span,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.0,15,19,6,258,2

In [12]:
#drop duplicates
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62    False
63    False
64    False
Length: 65, dtype: bool

In [13]:
df[df['Player'].duplicated()==1]

,Player,Span,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s
10,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419,27
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358,7
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [14]:
#cross-check duplicate records
df[df['Player'].isin(['WR Hammond (ENG)','L Hutton (ENG)','V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419,27
10,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419,27
16,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358,7
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358,7
52,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [15]:
#drop duplicates
df=df.drop_duplicates()

In [16]:
df[df['Player'].duplicated()==1]

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not Outs, Runs, Highest Inns Score, Batting Average, Balls Faced, Batting Strike Rate, 100, 50, 0, 4s, 6s]
Index: []

In [17]:
df

,Player,Span,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [18]:
#Split up 'Span' into Start and End date + Career length
df['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
60    [1965, 1981]
61    [2002, 2014]
62    [1924, 1934]
63    [1930, 1938]
64    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [19]:
#get start year from Span   ---ignore error here
df['Start Year']=df['Span'].str.split(pat='-').str[0]

C:\Users\disha\AppData\Local\Temp\ipykernel_7208\1889837779.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Start Year']=df['Span'].str.split(pat='-').str[0]

In [20]:
#get end year from Span  ---ignore error here
df['End Year']=df['Span'].str.split(pat='-').str[1]

C:\Users\disha\AppData\Local\Temp\ipykernel_7208\2158580207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['End Year']=df['Span'].str.split(pat='-').str[1]

In [21]:
df

,Player,Span,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s,Start Year,End Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [22]:
#drop Span column
df=df.drop(['Span'],axis=1)

In [129]:
df.head()

,Player,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s,Start Year,End Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954

In [130]:
#1. split up the country from the player
df['Player'].str.split(pat='(')

0      [DG Bradman , AUS)]
1        [HC Brook , ENG)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
60     [KD Walters , AUS)]
61    [GC Smith , ICC/SA)]
62    [WH Ponsford , AUS)]
63      [SJ McCabe , AUS)]
64     [DR Jardine , ENG)]
Name: Player, Length: 62, dtype: object

In [23]:
#df['Country']=df['Player'].str.split(pat='(').str[1]

In [24]:
#df['Country']=df['Player'].str.split(pat=')').str[0]

In [26]:
df['Country'] = df['Player'].str.extract(r'\((.*?)\)')

In [27]:
df['Country']

0        AUS
1        ENG
2        AUS
3         SA
4         WI
       ...
60       AUS
61    ICC/SA
62       AUS
63       AUS
64       ENG
Name: Country, Length: 62, dtype: object

In [135]:
#df['Player']=df['Player'].str.extract(r'^\s*([^(\d]+)')

In [39]:
df.head()

,Player,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s,Start Year,End Year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),22,40,4,2190,270,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI

In [29]:
#check data types
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not Outs                 int64
Runs                     int64
Highest Inns Score      object
Batting Average        float64
Balls Faced             object
Batting Strike Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Start Year              object
End Year                object
Country                 object
dtype: object

In [31]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not Outs                 int64
Runs                     int64
Highest Inns Score      object
Batting Average        float64
Balls Faced             object
Batting Strike Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Start Year              object
End Year                object
Country                 object
dtype: object

In [32]:
df['Highest Inns Score'].str.split(pat= '*').str[0]

0     334
1     186
2     269
3     274
4     270
     ...
60    250
61    277
62    266
63    232
64    127
Name: Highest Inns Score, Length: 62, dtype: object

In [33]:
df['Highest Inns Score']=df['Highest Inns Score'].str.split(pat= '*').str[0]

In [34]:
df['Highest Inns Score']

0     334
1     186
2     269
3     274
4     270
     ...
60    250
61    277
62    266
63    232
64    127
Name: Highest Inns Score, Length: 62, dtype: object

In [35]:
df['Highest Inns Score'].astype('int')

0     334
1     186
2     269
3     274
4     270
     ...
60    250
61    277
62    266
63    232
64    127
Name: Highest Inns Score, Length: 62, dtype: int32

In [37]:
df['Highest Inns Score']=df['Highest Inns Score'].astype('int')

In [38]:
#change data types
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not Outs                 int64
Runs                     int64
Highest Inns Score       int32
Batting Average        float64
Balls Faced             object
Batting Strike Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Start Year              object
End Year                object
Country                 object
dtype: object

In [41]:
#Similarly fix data types of Start and End Year -other way
df=df.astype({'Start Year':'int','End Year':'int'})

In [42]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not Outs                 int64
Runs                     int64
Highest Inns Score       int32
Batting Average        float64
Balls Faced             object
Batting Strike Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Start Year               int32
End Year                 int32
Country                 object
dtype: object

In [43]:
#similarly change data type of 'Balls Faced' into int
df['Balls Faced']=df['Balls Faced'].str.split(pat= '+').str[0]

In [44]:
df['Balls Faced']

0      9800
1      1287
2      2667
3      1707
4       416
      ...
60     8662
61    15525
62     3118
63     3217
64     2110
Name: Balls Faced, Length: 62, dtype: object

In [45]:
df.head()

,Player,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s,Start Year,End Year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI

In [46]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not Outs                 int64
Runs                     int64
Highest Inns Score       int32
Batting Average        float64
Balls Faced             object
Batting Strike Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Start Year               int32
End Year                 int32
Country                 object
dtype: object

In [48]:
df['Balls Faced']=df['Balls Faced'].astype('float')

In [49]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not Outs                 int64
Runs                     int64
Highest Inns Score       int32
Batting Average        float64
Balls Faced            float64
Batting Strike Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Start Year               int32
End Year                 int32
Country                 object
dtype: object

In [51]:
pd.set_option('display.max_rows',None)

In [52]:
df

,Player,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s,Start Year,End Year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),22,40,4,2190,270,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558.0,34.59,16,23,2,202,6,1924,1935,ENG
6,E Paynter (ENG),20,31,5,1540,243,59.23,1288.0,45.88,4,7,3,125,4,1931,1939,ENG
7,KF Barrington (ENG),82,131,15,6806,256,58.67,4957.0,42.42,20,35,5,591,27,1955,1968,ENG
8,ED Weekes (WI),48,81,5,4455,207,58.61,NaN,0.00,15,19,6,258,2,1948,1958,WI
9,WR Hammond (ENG),85,140,16,7249,336,58.45,7491.0,38.07,22,24,4,419,27,1927,1947,ENG
11,SPD Smith (AUS),107,191,25,9634,239,58.03,17977.0,53.59,32,41,9,1056,54,2010,2024,AUS
12,GS Sobers (WI),93,160,21,8032,365,57.78,4063.0,53.58,26,30,12,593,32,1954,1974,WI
13,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882.0,54.19,38,52,11,1491,51,2000,2015,SL
14,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363.0,46.22,15,28,4,276,8,1908,1930,ENG
15,CL Walcott (WI),44,74,7,3798,220,56.68,NaN,0.00,15,14,1,107,11,1948,1960,WI
16,L Hutton (ENG),79,138,15,6971,364,56.67,2844.0,39.34,19,33,5,358,7,1937,1955,ENG
18,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903.0,45.97,45,58,16,1488,97,1995,2013,ICC/SA
19,GE Tyldesley (ENG),14,20,2,990,122,55.00,178.0,29.21,3,6,2,37,2,1921,1929,ENG
20,KS Williamson (NZ),96,168,16,8263,251,54.36,16052.0,51.47,29,33,10,914,21,2010,2023,NZ
21,CA Davis (WI),15,29,5,1301,183,54.20,665.0,35.48,4,4,1,65,1,1968,1973,WI
22,VG Kambli (IND),17,21,1,1084,227,54.20,1823.0,59.46,4,3,3,124,6,1993,1995,IND
23,GS Chappell (AUS),87,151,19,7110,247,53.86,13079.0,51.53,24,31,12,755,16,1970,1984,AUS
24,AD Nourse (SA),34,62,7,2960,231,53.81,108.0,63.88,9,14,3,115,6,1935,1951,SA
25,SR Tendulkar (IND),200,329,33,15921,248,53.78,29437.0,54.04,51,68,14,2058,69,1989,2013,IND
26,DJ Mitchell (NZ),20,31,4,1452,190,53.77,2644.0,54.91,5,9,1,144,27,2019,2023,NZ
27,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753.0,60.51,34,48,17,1559,88,1990,2006,ICC/WI
28,Javed Miandad (PAK),124,189,21,8832,280,52.57,15164.0,45.99,23,43,6,788,48,1976,1993,PAK
29,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258.0,42.51,36,63,8,1654,21,1996,2012,ICC/IND
30,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372.0,52.39,24,33,11,957,51,1998,2010,PAK
31,Younis Khan (PAK),118,213,19,10099,313,52.05,19375.0,52.12,34,33,19,1082,70,2000,2017,PAK
32,RT Ponting (AUS),168,287,29,13378,257,51.85,22782.0,58.72,41,62,17,1509,73,1995,2012,AUS
33,J Ryder (AUS),20,32,5,1394,201,51.62,2035.0,44.86,3,9,1,102,3,1920,1929,AUS
34,A Flower (ZIM),63,112,19,4794,232,51.54,10636.0,45.07,12,27,5,543,20,1992,2002,ZIM
35,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436.0,50.13,19,29,12,685,39,2005,2013,AUS
36,S Chanderpaul (WI),164,280,49,11867,203,51.37,27395.0,43.31,30,66,15,1285,36,1994,2015,WI
37,SM Gavaskar (IND),125,214,16,10122,236,51.12,14184.0,43.35,34,45,12,908,26,1971,1987,IND
38,SR Waugh (AUS),168,260,46,10927,200,51.06,22461.0,48.64,32,50,22,1175,20,1985,2004,AUS
39,M Labuschagne (AUS),48,86,7,4015,215,50.82,7614.0,52.73,11,19,4,450,12,2018,2024,AUS
40,ML Hayden (AUS),103,184,14,8625,380,50.73,14349.0,60.10,30,29,14,1049,82,1994,2009,AUS
41,AB de Villiers (SA),114,191,18,8765,278,50.66,16077.0,54.51,22,46,8,1024,64,2004,2018,SA
42,AR Border (AUS),156,265,44,11174,205,50.56,27002.0,41.09,27,63,11,1161,28,1978,1994,AUS
43,IVA Richards (WI),121,182,12,8540,291,50.23,9613.0,69.77,24,45,10,952,84,1974,1991,WI
44,DCS Compton (ENG),78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3,1937,1957,ENG
45,JE Root (ENG),136,249,20,11447,254,49.98,20179.0,56.72,30,60,12,1248,43,2012,2024,ENG
46,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959.0,51.45,34,50,15,1387,61,1997,2014,SL
47,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345.0,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
48,FMM Worrell (WI),51,87,9,3860,261,49.48,488.0,40.16,9,22,11,240,11,1948,1963,WI
49,CP Mead (ENG),17,26,2,1185,182,49.37,619.0,30.04,4,3,3,38,0,1911,1928,ENG
50,V Sehwag (ICC/IND),104,180,6,8586,319,49.34,10441.0,82.23,23,32,16,1233,91,2001,2013,ICC/IND
51,Abid Ali (PAK),16,26,2,1180,215,49.16,2445.0,48.26,4,3,2,148,5,2019,2021,PAK
52,V Kohli (IND),113,191,11,8848,254,49.15,15924.0,55.56,29,30,14,991,26,2011,2024,IND
54,MJ Clarke (AUS),115,198,22,8643,329,49.10,15456.0,55.92,28,27,9,978,39,2004,2015,AUS
55,KC Bland (SA),21,39,5,1669,144,49.08,885.0,37.74,3,9,2,123,20,1961,1966,SA
56,B Mitchell (SA),42,80,9,3471,189,48.88,158.0,29.11,8,21,3,41,1,1929,1949,SA
57,Hon.FS Jackson (ENG),20,33,4,1415,144,48.79,NaN,0.00,5,6,3,51,0,1893,1905,ENG
58,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641.0,46.92,14,30,11,633,7,2001,2013,SL
59,RN Harvey (AUS),79,137,10,6149,205,48.41,1799.0,43.74,21,24,7,427,1,1948,1963,AUS
60,KD Walters (AUS),74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,AUS
61,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,ICC/SA
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,AUS
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG

In [53]:
#career length column (that is End Year - Start Year)
df['Career Length']=df['End Year']-df['Start Year']

In [54]:
df

,Player,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s,Start Year,End Year,Country,Career Length
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,AUS,20
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG,1
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley (WI),22,40,4,2190,270,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI,24
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558.0,34.59,16,23,2,202,6,1924,1935,ENG,11
6,E Paynter (ENG),20,31,5,1540,243,59.23,1288.0,45.88,4,7,3,125,4,1931,1939,ENG,8
7,KF Barrington (ENG),82,131,15,6806,256,58.67,4957.0,42.42,20,35,5,591,27,1955,1968,ENG,13
8,ED Weekes (WI),48,81,5,4455,207,58.61,NaN,0.00,15,19,6,258,2,1948,1958,WI,10
9,WR Hammond (ENG),85,140,16,7249,336,58.45,7491.0,38.07,22,24,4,419,27,1927,1947,ENG,20
11,SPD Smith (AUS),107,191,25,9634,239,58.03,17977.0,53.59,32,41,9,1056,54,2010,2024,AUS,14
12,GS Sobers (WI),93,160,21,8032,365,57.78,4063.0,53.58,26,30,12,593,32,1954,1974,WI,20
13,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882.0,54.19,38,52,11,1491,51,2000,2015,SL,15
14,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363.0,46.22,15,28,4,276,8,1908,1930,ENG,22
15,CL Walcott (WI),44,74,7,3798,220,56.68,NaN,0.00,15,14,1,107,11,1948,1960,WI,12
16,L Hutton (ENG),79,138,15,6971,364,56.67,2844.0,39.34,19,33,5,358,7,1937,1955,ENG,18
18,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903.0,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
19,GE Tyldesley (ENG),14,20,2,990,122,55.00,178.0,29.21,3,6,2,37,2,1921,1929,ENG,8
20,KS Williamson (NZ),96,168,16,8263,251,54.36,16052.0,51.47,29,33,10,914,21,2010,2023,NZ,13
21,CA Davis (WI),15,29,5,1301,183,54.20,665.0,35.48,4,4,1,65,1,1968,1973,WI,5
22,VG Kambli (IND),17,21,1,1084,227,54.20,1823.0,59.46,4,3,3,124,6,1993,1995,IND,2
23,GS Chappell (AUS),87,151,19,7110,247,53.86,13079.0,51.53,24,31,12,755,16,1970,1984,AUS,14
24,AD Nourse (SA),34,62,7,2960,231,53.81,108.0,63.88,9,14,3,115,6,1935,1951,SA,16
25,SR Tendulkar (IND),200,329,33,15921,248,53.78,29437.0,54.04,51,68,14,2058,69,1989,2013,IND,24
26,DJ Mitchell (NZ),20,31,4,1452,190,53.77,2644.0,54.91,5,9,1,144,27,2019,2023,NZ,4
27,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753.0,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
28,Javed Miandad (PAK),124,189,21,8832,280,52.57,15164.0,45.99,23,43,6,788,48,1976,1993,PAK,17
29,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258.0,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
30,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372.0,52.39,24,33,11,957,51,1998,2010,PAK,12
31,Younis Khan (PAK),118,213,19,10099,313,52.05,19375.0,52.12,34,33,19,1082,70,2000,2017,PAK,17
32,RT Ponting (AUS),168,287,29,13378,257,51.85,22782.0,58.72,41,62,17,1509,73,1995,2012,AUS,17
33,J Ryder (AUS),20,32,5,1394,201,51.62,2035.0,44.86,3,9,1,102,3,1920,1929,AUS,9
34,A Flower (ZIM),63,112,19,4794,232,51.54,10636.0,45.07,12,27,5,543,20,1992,2002,ZIM,10
35,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436.0,50.13,19,29,12,685,39,2005,2013,AUS,8
36,S Chanderpaul (WI),164,280,49,11867,203,51.37,27395.0,43.31,30,66,15,1285,36,1994,2015,WI,21
37,SM Gavaskar (IND),125,214,16,10122,236,51.12,14184.0,43.35,34,45,12,908,26,1971,1987,IND,16
38,SR Waugh (AUS),168,260,46,10927,200,51.06,22461.0,48.64,32,50,22,1175,20,1985,2004,AUS,19
39,M Labuschagne (AUS),48,86,7,4015,215,50.82,7614.0,52.73,11,19,4,450,12,2018,2024,AUS,6
40,ML Hayden (AUS),103,184,14,8625,380,50.73,14349.0,60.10,30,29,14,1049,82,1994,2009,AUS,15
41,AB de Villiers (SA),114,191,18,8765,278,50.66,16077.0,54.51,22,46,8,1024,64,2004,2018,SA,14
42,AR Border (AUS),156,265,44,11174,205,50.56,27002.0,41.09,27,63,11,1161,28,1978,1994,AUS,16
43,IVA Richards (WI),121,182,12,8540,291,50.23,9613.0,69.77,24,45,10,952,84,1974,1991,WI,17
44,DCS Compton (ENG),78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3,1937,1957,ENG,20
45,JE Root (ENG),136,249,20,11447,254,49.98,20179.0,56.72,30,60,12,1248,43,2012,2024,ENG,12
46,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959.0,51.45,34,50,15,1387,61,1997,2014,SL,17
47,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345.0,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
48,FMM Worrell (WI),51,87,9,3860,261,49.48,488.0,40.16,9,22,11,240,11,1948,1963,WI,15
49,CP Mead (ENG),17,26,2,1185,182,49.37,619.0,30.04,4,3,3,38,0,1911,1928,ENG,17
50,V Sehwag (ICC/IND),104,180,6,8586,319,49.34,10441.0,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
51,Abid Ali (PAK),16,26,2,1180,215,49.16,2445.0,48.26,4,3,2,148,5,2019,2021,PAK,2
52,V Kohli (IND),113,191,11,8848,254,49.15,15924.0,55.56,29,30,14,991,26,2011,2024,IND,13
54,MJ Clarke (AUS),115,198,22,8643,329,49.10,15456.0,55.92,28,27,9,978,39,2004,2015,AUS,11
55,KC Bland (SA),21,39,5,1669,144,49.08,885.0,37.74,3,9,2,123,20,1961,1966,SA,5
56,B Mitchell (SA),42,80,9,3471,189,48.88,158.0,29.11,8,21,3,41,1,1929,1949,SA,20
57,Hon.FS Jackson (ENG),20,33,4,1415,144,48.79,NaN,0.00,5,6,3,51,0,1893,1905,ENG,12
58,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641.0,46.92,14,30,11,633,7,2001,2013,SL,12
59,RN Harvey (AUS),79,137,10,6149,205,48.41,1799.0,43.74,21,24,7,427,1,1948,1963,AUS,15
60,KD Walters (AUS),74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,AUS,16
61,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,AUS,10
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS,8
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG,6

In [56]:
#cricketers in this df- what is the avg career length
df['Career Length'].mean().round(2)

13.16

In [64]:
#Avg batting_batting_strike_rate for cricketers who have played over 10 years
df[df['Career Length']>10]['Batting Strike Rate'].mean().round(2)

47.95

In [65]:
#find cricketers who played before 1960
df[df['Start Year']<1960]

,Player,Matches,Inns,Not Outs,Runs,Highest Inns Score,Batting Average,Balls Faced,Batting Strike Rate,100,50,0,4s,6s,Start Year,End Year,Country,Career Length
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800.0,58.60,29,13,7,626,6,1928,1948,AUS,20
4,GA Headley (WI),22,40,4,2190,270,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI,24
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558.0,34.59,16,23,2,202,6,1924,1935,ENG,11
6,E Paynter (ENG),20,31,5,1540,243,59.23,1288.0,45.88,4,7,3,125,4,1931,1939,ENG,8
7,KF Barrington (ENG),82,131,15,6806,256,58.67,4957.0,42.42,20,35,5,591,27,1955,1968,ENG,13
8,ED Weekes (WI),48,81,5,4455,207,58.61,NaN,0.00,15,19,6,258,2,1948,1958,WI,10
9,WR Hammond (ENG),85,140,16,7249,336,58.45,7491.0,38.07,22,24,4,419,27,1927,1947,ENG,20
12,GS Sobers (WI),93,160,21,8032,365,57.78,4063.0,53.58,26,30,12,593,32,1954,1974,WI,20
14,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363.0,46.22,15,28,4,276,8,1908,1930,ENG,22
15,CL Walcott (WI),44,74,7,3798,220,56.68,NaN,0.00,15,14,1,107,11,1948,1960,WI,12
16,L Hutton (ENG),79,138,15,6971,364,56.67,2844.0,39.34,19,33,5,358,7,1937,1955,ENG,18
19,GE Tyldesley (ENG),14,20,2,990,122,55.00,178.0,29.21,3,6,2,37,2,1921,1929,ENG,8
24,AD Nourse (SA),34,62,7,2960,231,53.81,108.0,63.88,9,14,3,115,6,1935,1951,SA,16
33,J Ryder (AUS),20,32,5,1394,201,51.62,2035.0,44.86,3,9,1,102,3,1920,1929,AUS,9
44,DCS Compton (ENG),78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3,1937,1957,ENG,20
48,FMM Worrell (WI),51,87,9,3860,261,49.48,488.0,40.16,9,22,11,240,11,1948,1963,WI,15
49,CP Mead (ENG),17,26,2,1185,182,49.37,619.0,30.04,4,3,3,38,0,1911,1928,ENG,17
56,B Mitchell (SA),42,80,9,3471,189,48.88,158.0,29.11,8,21,3,41,1,1929,1949,SA,20
57,Hon.FS Jackson (ENG),20,33,4,1415,144,48.79,NaN,0.00,5,6,3,51,0,1893,1905,ENG,12
59,RN Harvey (AUS),79,137,10,6149,205,48.41,1799.0,43.74,21,24,7,427,1,1948,1963,AUS,15
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118.0,44.77,7,6,1,119,0,1924,1934,AUS,10
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS,8
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG,6

In [66]:
#find number of cricketers who played before 1960
df[df['Start Year']<1960]['Player'].count()

23

In [78]:
#max highest inns scored by country
df.groupby('Country')['Highest Inns Score'].max().to_frame('HighInnCountry').reset_index().sort_values('HighInnCountry',ascending=False)

    Country  HighInnCountry
5    ICC/WI             400
0       AUS             380
10       SL             374
11       WI             365
1       ENG             364
3   ICC/PAK             329
2   ICC/IND             319
8       PAK             313
9        SA             278
4    ICC/SA             277
6       IND             254
7        NZ             251
12      ZIM             232

In [80]:
#Hundreds,Fifties,ducks (0) AVG by country.
df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.312500   8.500000
ENG      12.307692  20.769231   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       17.000000  21.000000   5.500000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000